.App{
  margin: 0 auto;
  padding: 0;
  background-color: #ededed;
  font-family: 'Manrope Variable', sans-serif;
}

.contain{
  background-color: #ededed;;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
}
