.App{
  margin: 0 auto;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  background-color: #212121;
}

.contain{
  background-color: #212121;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
}